<a href="https://colab.research.google.com/github/LubnaSajeel/Iris_species_classification_using_naive_bayes/blob/main/naive_bayes2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

To implement the naive_bayes algorithm,firstly we need to import pandas and numpy.Then convert to dataframe

In [ ]:
import numpy as np
import pandas as pd
df=pd.read_csv('/content/Iris.csv')
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

Then we fetch number of columns,first five rows of data,last five rows of data

In [ ]:
df.columns

Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

In [ ]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [ ]:
df.tail()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

We have to find missing values in data.For that we use isna function

In [ ]:
df.isna().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

we have to separate the data into input and output labels in the name of 2 variables

In [ ]:
x=df.iloc[:,:-1]
y=df.iloc[:,-1]
print(x)
print(y)

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0      1            5.1           3.5            1.4           0.2
1      2            4.9           3.0            1.4           0.2
2      3            4.7           3.2            1.3           0.2
3      4            4.6           3.1            1.5           0.2
4      5            5.0           3.6            1.4           0.2
..   ...            ...           ...            ...           ...
145  146            6.7           3.0            5.2           2.3
146  147            6.3           2.5            5.0           1.9
147  148            6.5           3.0            5.2           2.0
148  149            6.2           3.4            5.4           2.3
149  150            5.9           3.0            5.1           1.8

[150 rows x 5 columns]
0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
Name: Species, Length: 150, dtype: object

we have to train the data,so using train_test_split function we separate the data into trained and tested data

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.30,random_state=42)
x_train

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
81    82            5.5           2.4            3.7           1.0
133  134            6.3           2.8            5.1           1.5
137  138            6.4           3.1            5.5           1.8
75    76            6.6           3.0            4.4           1.4
109  110            7.2           3.6            6.1           2.5
..   ...            ...           ...            ...           ...
71    72            6.1           2.8            4.0           1.3
106  107            4.9           2.5            4.5           1.7
14    15            5.8           4.0            1.2           0.2
92    93            5.8           2.6            4.0           1.2
102  103            7.1           3.0            5.9           2.1

[105 rows x 5 columns]

Using Standardscaler normalize the data

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
scaler.fit(x_train)
x_train=scaler.transform(x_train)
x_test=scaler.transform(x_test)
print(x_train)
print(x_test)

[[ 0.07890874 -0.4134164  -1.46440146 -0.10014569 -0.32149987]
 [ 1.32052747  0.55122187 -0.49582097  0.71771076  0.35364985]
 [ 1.41603661  0.67180165  0.2306144   0.95138404  0.75873969]
 [-0.06435496  0.91296121 -0.01153072  0.30878254  0.21861991]
 [ 0.74747267  1.63643991  1.44134002  1.30189395  1.7039493 ]
 [ 0.43706799 -0.17225683 -0.25367584  0.1919459   0.08358997]
 [ 0.65196354  2.11875905 -0.01153072  1.59398554  1.16382952]
 [-0.27925051 -0.29283662 -0.01153072  0.36720086  0.35364985]
 [-1.85515122 -0.89573553  1.19919489 -1.443767   -1.40173942]
 [ 1.05787735  2.23933883 -0.49582097  1.65240385  1.02879957]
 [-0.25537323 -0.05167705 -0.73796609  0.13352758 -0.32149987]
 [-1.18658728 -0.77515575  0.95704977 -1.443767   -1.40173942]
 [-0.90005988 -1.01631531  1.19919489 -1.50218532 -1.26670948]
 [-0.80455075 -0.89573553  1.92563026 -1.15167541 -1.13167953]
 [-0.42251421 -1.01631531 -2.43298195 -0.21698232 -0.32149987]
 [ 1.08175464  0.55122187 -0.73796609  0.60087413  0.75873969]
 [-1.28209642 -1.25747488  0.95704977 -1.15167541 -1.40173942]
 [-1.25821913 -1.01631531 -0.01153072 -1.32693037 -1.40173942]
 [-1.3059737  -0.89573553  0.71490465 -1.26851205 -0.99664959]
 [ 0.38931342 -0.29283662 -0.73796609  0.1919459   0.08358997]
 [-0.92393717 -0.89573553  0.95704977 -1.38534869 -1.40173942]
 [ 0.4131907  -0.17225683 -0.01153072  0.1919459  -0.05143998]
 [ 0.93849094  2.23933883  1.92563026  1.65240385  1.29885946]
 [-0.7329189  -1.49863445  0.47275953 -1.443767   -1.40173942]
 [ 0.46094527  0.43064208 -0.25367584  0.25036422  0.08358997]
 [ 0.8429818  -0.17225683 -1.22225633  0.65929245  1.02879957]
 [-1.06720087 -0.4134164   2.89421075 -1.443767   -1.40173942]
 [ 1.43991389  0.18948252 -0.01153072  0.54245581  0.75873969]
 [ 0.5564544  -0.05167705 -0.73796609  0.71771076  0.89376963]
 [-0.37475965  0.18948252 -1.9486917   0.07510927 -0.32149987]
 [ 0.15054059 -0.53399618 -0.01153072  0.36720086  0.35364985]
 [ 1.67868672  0.43064208  0.95704977  0.89296572  1.43388941]
 [-0.5896552  -0.4134164  -1.70654658  0.07510927  0.08358997]
 [-1.7357648  -0.53399618  2.16777538 -1.26851205 -1.13167953]
 [ 0.36543614 -1.01631531 -1.70654658 -0.33381896 -0.32149987]
 [ 0.79522724  0.67180165 -0.73796609  0.8345474   0.89376963]
 [-0.68516433 -1.01631531  0.71490465 -1.443767   -1.40173942]
 [-1.0194463  -1.01631531  0.47275953 -1.56060364 -1.40173942]
 [ 0.05503145 -0.4134164  -1.46440146 -0.04172737 -0.18646992]
 [-0.0166004   1.033541   -0.01153072  0.65929245  0.62370974]
 [-1.04332358 -1.1368951   0.2306144  -1.38534869 -1.53676936]
 [ 0.86685909 -0.05167705 -0.49582097  0.71771076  1.56891935]
 [-1.68801023 -1.01631531  0.95704977 -1.38534869 -1.40173942]
 [-0.82842803 -1.01631531  1.19919489 -1.32693037 -0.86161964]
 [-0.18374138  0.06890273  0.47275953  0.54245581  0.75873969]
 [ 0.48482255 -0.89573553 -1.22225633 -0.50907391 -0.18646992]
 [ 1.01012279  1.27470056  0.47275953  1.06822067  1.43388941]
 [ 0.1266633   0.18948252 -0.73796609  0.71771076  0.4886798 ]
 [ 1.34440475  0.3100623  -0.98011121  1.00980236  0.21861991]
 [ 1.36828204  2.23933883 -0.01153072  1.30189395  1.43388941]
 [ 0.269927   -0.4134164  -1.22225633  0.07510927  0.08358997]
 [-1.66413295 -1.73979401 -0.25367584 -1.443767   -1.40173942]
 [-1.54474653 -1.8603738  -0.01153072 -1.61902196 -1.53676936]
 [ 0.9862455   0.18948252 -1.9486917   0.65929245  0.35364985]
 [ 1.1295092   1.63643991  0.47275953  1.24347563  0.75873969]
 [-1.78351937 -1.49863445  0.2306144  -1.38534869 -1.40173942]
 [-1.4492374  -0.89573553  1.19919489 -1.443767   -1.26670948]
 [-0.94781445 -1.73979401 -0.01153072 -1.50218532 -1.40173942]
 [-0.13598681  0.55122187 -1.22225633  0.60087413  0.35364985]
 [ 1.39215932  0.55122187  0.95704977  1.00980236  1.56891935]
 [-1.71188752 -1.49863445  0.95704977 -1.443767   -1.26670948]
 [ 0.81910452  1.15412078 -0.01153072  0.95138404  1.16382952]
 [ 0.53257712  0.55122187  0.71490465  1.24347563  1.7039493 ]
 [-1.80739665 -1.37805466  0.47275953 -1.50218532 -1.40173942]
 [-0.35088236  0.3100623  -0.25367584  0.48403749  0.21861991]
 [-0.56577791  0.79238143 -0.49582097  0.42561917  0.35364985]
 [ 1.15338649  0.43064208 -0.49582097  0.54245581  0.75873969]
 [-0.66128705  1.39528035  0.47275953  0.48403749  0.21861991]
 [ 0.89073637  0.67180165  0.47275953  0.8345474   1.43388941]
 [-0.75679618 -0.89573553  1.92563026 -1.32693037 -1.40173942]
 [ 1.46379117  1.27470056  0.2306144   0.89296572  1.16382952]
 [-0.39863693  0.06890273 -0.01153072  0.1919459   0.35364985]
 [ 1.65480944  0.79238143 -0.01153072  0.77612908  1.02879957]
 [ 0.03115417 -0.17225683 -0.98011121 -0.21698232 -0.32149987]
 [-0.4463915  -0.77515575 -0.73796609  0.01669095  0.21861991]
 [ 0.31768157  0.3100623  -0.01153072  0.42561917  0.21861991]
 [-0.8761826  -1.61921423 -1.70654658 -1.50218532 -1.26670948]
 [-0.47026878  0.91296121 -0.25367584  0.42561917  0.08358997]
 [ 0.29380429 -0.4134164  -0.98011121  0.30878254 -0.05143998]
 [-0.70904161 -0.65457597  1.68348514 -1.38534869 -1.40173942]
 [ 0.24604972 -0.29283662 -0.01153072  0.13352758  0.08358997]
 [ 0.6997181   1.7570197  -0.25367584  1.41873058  0.75873969]
 [ 1.10563192  1.033541    0.71490465  1.06822067  1.16382952]
 [-1.35372827 -0.89573553  1.68348514 -1.38534869 -1.13167953]
 [-0.49414606 -1.1368951  -1.46440146 -0.33381896 -0.32149987]
 [ 1.58317759  1.033541    0.71490465  1.06822067  1.7039493 ]
 [ 1.22501834  1.63643991 -0.01153072  1.12663899  0.4886798 ]
 [-0.97169173 -1.1368951   0.2306144  -1.38534869 -1.53676936]
 [ 1.48766846  1.033541    0.2306144   1.00980236  1.56891935]
 [-1.83127393 -1.1368951  -0.01153072 -1.443767   -1.40173942]
 [-0.61353248  1.27470056  0.2306144   0.60087413  0.35364985]
 [ 1.24889562  1.87759948 -0.49582097  1.30189395  0.89376963]
 [ 0.60420897  0.55122187 -0.25367584  1.00980236  0.75873969]
 [ 0.50869984 -0.17225683 -0.49582097  0.13352758  0.08358997]
 [ 0.91461365  0.79238143 -0.01153072  0.95138404  0.75873969]
 [ 0.22217244  0.55122187 -1.70654658  0.30878254  0.08358997]
 [-0.08823225  0.67180165 -0.25367584  0.25036422  0.08358997]
 [ 1.03400007 -0.29283662 -0.49582097  0.60087413  1.02879957]
 [ 1.70256401  0.06890273 -0.01153072  0.71771076  0.75873969]
 [-1.37760555 -0.53399618  0.95704977 -1.26851205 -1.40173942]
 [-0.1598641   0.3100623  -0.49582097  0.07510927  0.08358997]
 [ 0.67584082 -1.1368951  -1.22225633  0.36720086  0.62370974]
 [-1.52086925 -0.05167705  2.40992051 -1.56060364 -1.40173942]
 [ 0.34155885 -0.05167705 -0.98011121  0.07510927 -0.05143998]
 [ 0.58033169  1.51586013 -0.01153072  1.18505731  1.16382952]]
[[-0.11210953  0.3100623  -0.49582097  0.48403749 -0.05143998]
 [-1.42536012 -0.17225683  1.92563026 -1.26851205 -1.26670948]
 [ 0.96236822  2.23933883 -0.98011121  1.76924049  1.43388941]
 [ 0.00727689  0.18948252 -0.25367584  0.36720086  0.35364985]
 [-0.04047768  1.15412078 -0.49582097  0.54245581  0.21861991]
 [-1.11495543 -0.53399618  0.95704977 -1.38534869 -1.13167953]
 [-0.32700508 -0.29283662 -0.25367584 -0.15856401  0.08358997]
 [ 1.51154574  1.27470056  0.2306144   0.71771076  1.43388941]
 [-0.23149595  0.43064208 -1.9486917   0.36720086  0.35364985]
 [ 0.10278602 -0.05167705 -0.73796609  0.01669095 -0.05143998]
 [ 0.77134995  0.79238143  0.47275953  0.71771076  1.02879957]
 [-1.56862382 -1.25747488 -0.01153072 -1.443767   -1.53676936]
 [-0.99556902 -0.4134164   1.19919489 -1.50218532 -1.40173942]
 [-1.64025567 -1.1368951   0.2306144  -1.38534869 -1.53676936]
 [-1.40148283 -0.89573553  1.92563026 -1.38534869 -1.26670948]
 [-0.51802335  0.55122187  0.71490465  0.48403749  0.4886798 ]
 [ 0.62808625  0.79238143 -0.01153072  1.12663899  1.29885946]
 [-0.20761866 -0.29283662 -1.22225633  0.01669095 -0.18646992]
 [-0.54190063 -0.17225683 -0.49582097  0.36720086  0.08358997]
 [ 1.29665019  0.67180165 -0.49582097  1.00980236  1.29885946]
 [-1.16271    -1.37805466  0.47275953 -1.32693037 -1.40173942]
 [ 1.17726377  0.3100623  -0.01153072  0.60087413  0.75873969]
 [-1.23434185 -1.01631531  0.95704977 -1.32693037 -1.13167953]
 [ 1.20114105  0.67180165 -0.49582097  1.00980236  1.16382952]
 [ 1.2727729   2.4804984   1.92563026  1.4771489   1.02879957]
 [ 1.60705487  1.033541   -0.01153072  0.77612908  1.43388941]
 [ 0.72359539  1.033541   -1.22225633  1.12663899  0.75873969]
 [ 1.55930031  1.15412078  0.47275953  1.18505731  1.43388941]
 [-0.78067346 -1.25747488 -0.01153072 -1.443767   -1.26670948]
 [-1.13883272 -1.25747488  0.2306144  -1.32693037 -1.40173942]
 [-1.32985098 -1.49863445  1.44134002 -1.67744028 -1.40173942]
 [-1.49699197 -0.17225683  3.378501   -1.38534869 -1.13167953]
 [-0.3031278   1.033541    0.2306144   0.30878254  0.21861991]
 [-1.5925011  -1.25747488  0.95704977 -1.32693037 -1.40173942]
 [-0.85230531 -1.73979401  0.47275953 -1.50218532 -1.40173942]
 [ 1.63093216  0.55122187 -1.22225633  0.65929245  0.89376963]
 [-0.63740976  0.67180165  0.47275953  0.36720086  0.35364985]
 [-1.21046457 -0.77515575  1.19919489 -1.38534869 -1.40173942]
 [-1.75964208 -1.01631531  1.44134002 -1.443767   -1.40173942]
 [-1.09107815 -0.77515575  2.65206563 -1.38534869 -1.53676936]
 [ 1.53542302 -0.05167705 -0.73796609  0.71771076  0.89376963]
 [ 0.17441787  0.18948252  0.95704977  0.36720086  0.4886798 ]
 [ 0.19829515  1.033541    0.2306144   0.48403749  0.35364985]
 [-1.47311468 -0.53399618  2.16777538 -1.50218532 -1.13167953]
 [-1.61637838 -0.53399618  1.68348514 -1.38534869 -1.40173942]]

In [ ]:
from sklearn.naive_bayes import GaussianNB
model=GaussianNB()
model.fit(x_train,y_train)
y_pred=model.predict(x_test)
y_pred

array(['Iris-versicolor', 'Iris-setosa', 'Iris-virginica',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-setosa',
       'Iris-versicolor', 'Iris-virginica', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-virginica', 'Iris-setosa', 'Iris-setosa',
       'Iris-setosa', 'Iris-setosa', 'Iris-versicolor', 'Iris-virginica',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-virginica',
       'Iris-setosa', 'Iris-virginica', 'Iris-setosa', 'Iris-virginica',
       'Iris-virginica', 'Iris-virginica', 'Iris-virginica',
       'Iris-virginica', 'Iris-setosa', 'Iris-setosa', 'Iris-setosa',
       'Iris-setosa', 'Iris-versicolor', 'Iris-setosa', 'Iris-setosa',
       'Iris-virginica', 'Iris-versicolor', 'Iris-setosa', 'Iris-setosa',
       'Iris-setosa', 'Iris-virginica', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-setosa', 'Iris-setosa'], dtype='<U15')

In [ ]:
from sklearn.metrics import classification_report,accuracy_score,confusion_matrix
result=confusion_matrix(y_test,y_pred)
score=accuracy_score(y_test,y_pred)
print(result)
print(score)

[[19  0  0]
 [ 0 13  0]
 [ 0  0 13]]
1.0